<head>
    <title>Cakers! - Shopping cart</title>
</head>
{% extends 'base.html' %}
{% block content %}

<div>
    <img class="galleryimgs" src="{{url_for('static', filename='images/wedding.jpg')}}" alt="wedding">
    <img class="galleryimgs" src="{{url_for('static', filename='images/vanilla.jpg')}}" alt="vanilla Ice Cream">
    <img class="galleryimgs" src="{{url_for('static', filename='images/birthday.jpg')}}" alt="birthday">
    <img class="galleryimgs" src="{{url_for('static', filename='images/chocolate.jpg')}}" alt="chocolate Ice Cream">
    <img class="galleryimgs" src="{{url_for('static', filename='images/victoria.jpg')}}" alt="victoria">
    <img class="galleryimgs" src="{{url_for('static', filename='images/wedding2.jpg')}}" alt="wedding">
    <img class="galleryimgs" src="{{url_for('static', filename='images/vanilla2.jpg')}}" alt="vanilla Ice Cream">
    <img class="galleryimgs" src="{{url_for('static', filename='images/victoria2.jpg')}}" alt="victoria">
    <img class="galleryimgs" src="{{url_for('static', filename='images/strawberry2.jpg')}}" alt="strawberry">
    <img class="galleryimgs" src="{{url_for('static', filename='images/birthday2.jpg')}}" alt="birthday">
    <img class="galleryimgs" src="{{url_for('static', filename='images/victoria3.jpg')}}" alt="victoria">
    <img class="galleryimgs" src="{{url_for('static', filename='images/chocolate2.jpg')}}" alt="chocolate Ice Cream">
    <img class="galleryimgs" src="{{url_for('static', filename='images/strawberry3.jpg')}}" alt="strawberry">
    <img class="galleryimgs" src="{{url_for('static', filename='images/birthday3.jpg')}}" alt="birthday">
    <img class="galleryimgs" src="{{url_for('static', filename='images/wedding4.jpg')}}" alt="wedding">
    <img class="galleryimgs" src="{{url_for('static', filename='images/chocolate4.jpg')}}" alt="chocolate Ice Cream">
    <img class="galleryimgs" src="{{url_for('static', filename='images/birthday4.jpg')}}" alt="birthday">
    <img class="galleryimgs" src="{{url_for('static', filename='images/strawberry.jpg')}}" alt="strawberry">
    <img class="galleryimgs" src="{{url_for('static', filename='images/wedding3.jpg')}}" alt="wedding">
    <img class="galleryimgs" src="{{url_for('static', filename='images/vanilla3.jpg')}}" alt="vanilla Ice Cream">
    <img class="galleryimgs" src="{{url_for('static', filename='images/victoria4.jpg')}}" alt="victoria">
    <img class="galleryimgs" src="{{url_for('static', filename='images/birthday5.jpg')}}" alt="birthday">
    <img class="galleryimgs" src="{{url_for('static', filename='images/wedding5.jpg')}}" alt="wedding">
    <img class="galleryimgs" src="{{url_for('static', filename='images/victoria5.jpg')}}" alt="victoria">
    <img class="galleryimgs" src="{{url_for('static', filename='images/chocolate3.jpg')}}" alt="chocolate Ice Cream">
</div>
{% endblock %}