<head>
    <title>Cakers! - Ice creams</title>
</head>

{% extends 'base.html' %}
{% block content %}
<div class="content">
    <h2 class="items">
        Ice Creams
    </h2>
    <div class="items">
        <div class="items-hidden">
            <span>
                Vanilla
            </span>
            <img class="images" src="{{url_for('static', filename='images/vanilla.jpg')}}" alt="vanilla Ice Cream">
        </div>
        <div class="items-hidden">
            <span>
                Chocolate
            </span>
            <img class="images" src="{{url_for('static', filename='images/chocolate.jpg')}}" alt="chocolate Ice Cream">
        </div>
        <div class="items-hidden">
            <span>
                Strawberry
            </span>
            <img class="images" src="{{url_for('static', filename='images/strawberry.jpg')}}" alt="strawberry Ice Cream">
        </div>
    </div>
</div>
{% endblock %}